{% extends 'base.html' %}
{% block content %}
        {% if status != '1' %}
        <div class="card">
            <form method="POST">

                {% csrf_token %}
                {{ form }}
                <div class="form-block">
                    <button>Добавить слово</button>
                    
                </div>
            </form>
        </div>
        {% endif %}
        <div class="card" id="wordList">

            {% for word in words %}
            <div class="word-item">
                <span>
                    <a href="/words/{{ word.id }}">
                        <strong>{{ word.slovo }}</strong> — {{ word.perevod }}
                    </a>
                </span>
            </div>
            {% endfor %}

        </div>
        {% if status == '1' %}
        <div class="card">
            <h3>Заметки</h3>
            <form id="noteForm" method="POST">
                {% csrf_token %}
                {{ formNote.as_div }}
                <div class="form-block">
                    <button>Добавить</button>            
                </div>
            </form>

            <div id="notes">
                {% for note in notes %}
                <div class="note">{{ note.note }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <p>
  Вы посещали эту страницу {{ num_visits }} {{ razn }}.</p>
{% endblock %}