
{% extends 'base.html' %}
{% block content %}
       

<div class="card">
    <h2 id="wordTitle">{{ words.slovo }}</h2>
    <h2 id="translation">{{ words.perevod }}</h2>
    <p>Статус: На изучении</p>

    <div class="button-form">
        <form id="learn" method="post" action="{% url 'learn_word' words.id %}">
            {% csrf_token %}
            <button>Отметить изученным</button>
        </form>
    </div>
    <div class="button-form">
        <form id="delete" method="post" action="{% url 'delete_word' words.id %}">
            {% csrf_token %}
            <button>Удалить</button>
        </form>
    </div>
</div>

{% endblock %}