
{% extends 'base.html' %}
{% block content %}
       

<div class="card">
    <h2 id="wordTitle">{{ word.slovo }}</h2>
    <h2 id="translation">{{ word.perevod }}</h2>
    <p>Статус: {% if word.is_active == 0 %}На изучении{% else %}Изучено{% endif %}</p>

    <div class="button-form">
        <form id="learn" method="post" action="{% url 'learn_word' word.id %}">
            {% csrf_token %}
            <button>Отметить {% if word.is_active == 1 %} на изучение{% else %}изученным{% endif %}</button>
        </form>
    </div>
    <div class="button-form">
        <form id="delete" method="post" action="{% url 'delete_word' word.id %}">
            {% csrf_token %}
            <button>Удалить</button>
        </form>
    </div>
</div>
<div class="card">
    <h3>Заметки</h3>
    <form id="noteForm" method="POST">
        {% csrf_token %}
        {{ formNote.as_div }}
        <div class="form-block">
            <button>Добавить</button>            
        </div>
    </form>

    <div id="notes">
        {% for note in notes %}
        <div class="note">{{ note.note }}</div>
        {% empty %}
        <p>Заметок нет</p>
        {% endfor %}
    </div>
</div>

{% endblock %}