{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} Изучение слов {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">

        <h1>Словарь для изучения</h1>

        <div class="card menu">
            <a href="/">Главная</a>
            <a href="/?status=1" {% if status == '1' %}class = "active"{% endif %}>Изученные</a>
        </div>
        
        {% block content %}
        {% endblock %}

        


    </div>
</body>

</html>

